src/main/resources/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://project.com/classes" xmlns:tns="http://project.com/classes" elementFormDefault="qualified">


    <element name="InsertCustomerRequest"
             type="tns:InsertCustomerRequest">
    </element>

    <complexType name="InsertCustomerRequest">
        <sequence>
            <element name="identityvalue" type="int"></element>
            <element name="action" type="string"></element>
            <element name="name" type="string"></element>
        </sequence>
    </complexType>

    <element name="InsertCustomerResponse"
             type="tns:InsertCustomerResponse">
    </element>

    <complexType name="InsertCustomerResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>
</schema>