src/main/resources/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://project.com/classes" xmlns:tns="http://project.com/classes" elementFormDefault="qualified">


    <element name="InsertCustomerRequest"
             type="tns:InsertCustomerRequest">
    </element>

    <complexType name="InsertCustomerRequest">
        <sequence>
            <element name="identityvalue" type="int"></element>
            <element name="title" type="string"></element>
            <element name="firstName" type="string"></element>
            <element name="lastName" type="string"></element>
            <element name="birthDate" type="string"></element>
            <element name="identityTypeCode" type="int"></element>
            <element name="deliveryD" type="string"></element>
            <element name="address" type="string"></element>
            <element name="commune" type="string"></element>
            <element name="wilaya" type="string"></element>


        </sequence>
    </complexType>

    <element name="InsertCustomerResponse"
             type="tns:InsertCustomerResponse">
    </element>

    <complexType name="InsertCustomerResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>
    <element name="InsertContractRequest"
             type="tns:InsertContractRequest">
    </element>

    <complexType name="InsertContractRequest">
        <sequence>

            <element name="identityvalue" type="int"></element>
            <element name="ICCID" type="int"></element>
            <element name="OfferPromotype" type="string"></element>
            <element name="networkType" type="string"></element>

        </sequence>
    </complexType>

    <element name="InsertContractResponse"
             type="tns:InsertContractResponse">
    </element>

    <complexType name="InsertContractResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>

    <element name="NotifyESBRequest" type="tns:NotifyESBRequest"></element>

    <complexType name="NotifyESBRequest">
        <sequence>
            <element name="id" type="int"></element>
            <element name="serviceName" type="string"></element>
        </sequence>
    </complexType>

    <element name="NotifyESBResponse" type="tns:NotifyESBResponse"></element>
    <complexType name="NotifyESBResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>

    <element name="InsertCustomerCrmRequest" type="tns:InsertCustomerCrmRequest"></element>

    <complexType name="InsertCustomerCrmRequest">
        <sequence>
            <element name="id" type="int"></element>
            <element name="identityvalue" type="int"></element>
            <element name="title" type="string"></element>
            <element name="firstName" type="string"></element>
            <element name="lastName" type="string"></element>
            <element name="birthDate" type="string"></element>
            <element name="identityTypeCode" type="int"></element>
            <element name="deliveryD" type="string"></element>
            <element name="address" type="string"></element>
            <element name="commune" type="string"></element>
            <element name="wilaya" type="string"></element>
        </sequence>
    </complexType>

    <element name="InsertCustomerCrmResponse" type="tns:InsertCustomerCrmResponse"></element>

    <complexType name="InsertCustomerCrmResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>

    <element name="InsertContractCrmRequest"
             type="tns:InsertContractCrmRequest">
    </element>

    <complexType name="InsertContractCrmRequest">
        <sequence>
            <element name="id" type="int"></element>
            <element name="iccid" type="int"></element>
            <element name="identityValue" type="int"></element>
            <element name="OfferPromotype" type="string"></element>
            <element name="networkType" type="string"></element>
        </sequence>
    </complexType>

    <element name="InsertContractCrmResponse"
             type="tns:InsertContractCrmResponse">
    </element>

    <complexType name="InsertContractCrmResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>
    <element name="InsertInfoRequest" type="tns:InsertInfoRequest"></element>

    <complexType name="InsertInfoRequest">
        <sequence>
            <element name="Iccid" type="int"></element>
            <element name="OfferPromotype" type="string"></element>
            <element name="networkType" type="string"></element>
            <element name="title" type="string"></element>
            <element name="FirstName" type="string"></element>
            <element name="LastName" type="string"></element>
            <element name="BirthDate" type="string"></element>
            <element name="identityTypeCode" type="int"></element>
            <element name="IdentityValue" type="int"></element>
            <element name="deliveryD" type="string"></element>
            <element name="address" type="string"></element>
            <element name="commune" type="string"></element>
            <element name="wilaya" type="string"></element>


        </sequence>
    </complexType>

    <element name="InsertInfoResponse" type="tns:InsertInfoResponse"></element>

    <complexType name="InsertInfoResponse">
        <sequence>
            <element name="status" type="boolean"></element>
        </sequence>
    </complexType>

    <element name="GetAllCustomerRequest"
             type="tns:GetAllCustomerRequest">
    </element>

    <complexType name="GetAllCustomerRequest"></complexType>

    <element name="GetAllCustomerResponse"
             type="tns:GetAllCustomerResponse">
    </element>

    <complexType name="GetAllCustomerResponse">
        <sequence>
            <element name="CustomerDetails"
                     type="tns:CustomerDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>
    <complexType name="CustomerDetails">
        <sequence>
            <element name="customerId" type="int"></element>
            <element name="firstName" type="string"></element>
            <element name="lastName" type="string"></element>
        </sequence>
    </complexType>




    <element name="GetAllContractsRequest"
             type="tns:GetAllContractsRequest">
    </element>
    <complexType name="GetAllContractsRequest"></complexType>

    <element name="GetAllContractsResponse"
             type="tns:GetAllContractsResponse">
    </element>

    <complexType name="GetAllContractsResponse">
        <sequence>
            <element name="ContractDetails"
                     type="tns:ContractDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>
    <complexType name="ContractDetails">
        <sequence>
            <element name="contractId" type="int"></element>
            <element name="MSISDN" type="int"></element>
            <element name="OfferPromotype" type="string"></element>
            <element name="ICCID" type="int"></element>
            <element name="customerId" type="int"></element>

        </sequence>
    </complexType>




    <element name="GetAllContractCRMsRequest"
             type="tns:GetAllContractCRMsRequest">
    </element>

    <complexType name="GetAllContractCRMsRequest"></complexType>

    <element name="GetAllContractCRMsResponse"
             type="tns:GetAllContractCRMsResponse">
    </element>

    <complexType name="GetAllContractCRMsResponse">
        <sequence>
            <element name="ContractCRMDetails"
                     type="tns:ContractCRMDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>
    <complexType name="ContractCRMDetails">
        <sequence>
            <element name="contractId" type="int"></element>
            <element name="MSISDN" type="int"></element>
            <element name="OfferPromotype" type="string"></element>
            <element name="ICCID" type="int"></element>
            <element name="customerId" type="int"></element>
        </sequence>
    </complexType>




    <element name="GetAllCustomerCRMRequest"
             type="tns:GetAllCustomerCRMRequest">
    </element>

    <complexType name="GetAllCustomerCRMRequest"></complexType>

    <element name="GetAllCustomerCRMResponse"
             type="tns:GetAllCustomerCRMResponse">
    </element>

    <complexType name="GetAllCustomerCRMResponse">
        <sequence>
            <element name="CustomerCRMDetails"
                     type="tns:CustomerCRMDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>

    <complexType name="CustomerCRMDetails">
        <sequence>
            <element name="customerId" type="int"></element>
            <element name="firstName" type="string"></element>
            <element name="lastName" type="string"></element>

        </sequence>
    </complexType>






    <element name="GetAllEntityLogRequest"
             type="tns:GetAllEntityLogRequest">
    </element>

    <complexType name="GetAllEntityLogRequest"></complexType>

    <element name="GetAllEntityLogResponse"
             type="tns:GetAllEntityLogResponse">
    </element>

    <complexType name="GetAllEntityLogResponse">
        <sequence>
            <element name="LogDetails"
                     type="tns:LogDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>
    <complexType name="LogDetails">
        <sequence>
            <element name="TransactionId" type="int"></element>
            <element name="mainInput" type="int"></element>
            <element name="serviceName" type="string"></element>
            <element name="xml" type="string"></element>
            <element name="status" type="string"></element>
            <element name="Source" type="string"></element>
            <element name="Destination" type="string"></element>

        </sequence>
    </complexType>


    <element name="GetAllMemosRequest"
             type="tns:GetAllMemosRequest">
    </element>

    <complexType name="GetAllMemosRequest"></complexType>

    <element name="GetAllMemosResponse"
             type="tns:GetAllMemosResponse">
    </element>

    <complexType name="GetAllMemosResponse">
        <sequence>
            <element name="MemoDetails"
                     type="tns:MemoDetails" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>
    <complexType name="MemoDetails">
        <sequence>
            <element name="MemoNumber" type="int"></element>
            <element name="ccId" type="int"></element>
            <element name="coId" type="int"></element>
            <element name="shortDescription" type="string"></element>
            <element name="longDescription" type="string"></element>
            <element name="createBy" type="string"></element>
        </sequence>
    </complexType>

</schema>